<section id="portfolio-section">
  <div class="headline-text">
      <h1>My Portfolio</h1>
  </div>
  <div class="portfolio-grid">
      <div class="portfolio">
          <img src="assets/fake1.jpg" alt="portfolio 1">
          <a href="#">Royal Zoute Golf Course</a>
      </div>
      <div class="portfolio">
          <img src="assets/fake2.jpg" alt="portfolio 1">
          <a href="#">The Big Tree</a>
      </div>
      <div class="portfolio">
          <img src="assets/fake3.jpg" alt="portfolio 1">
          <a href="#">Beer Money</a>
      </div>
      <div class="portfolio">
          <img src="assets/fake 4.jpg" alt="portfolio 1">
          <a href="#">JakeAndreson Photgraphy</a>
      </div>
  </div>
      <a href="#" id="portfoliobtn">Check It Out</a>
</section>
