<section>
  <div class="about">
          <div class="about-images">
                  <img src="assets/fakeme.jpg" alt="fake me">
              </div>
      <div class="about-text">
          <h1>About Me</h1>
          <p>I am what I am. I know what I want. I may not be perfect but I know I can be awesome.
             Just give me time and space and I'll get there. No matter what. Don't give up on me. I can be tiring I know that.
             But without you I am nothing. Dont' go. Stay.</p>
          <a href="#" id="aboutBtn">Learn More</a>
      </div>
  </div>
</section>
<!--endabout-->
